{% extends 'view/page.html.twig' %}

{% block title %}{{ page.title ?? null }}{% endblock %}
{% block title_og %}{{ page.title ?? null }}{% endblock %}
{% block description %}{{ page.description ?? null }}{% endblock %}
{% block description_og %}{{ page.description ?? null }}{% endblock %}
{% block type_og %}article{% endblock %}
{% block author %}{{ page.author ?? null }}{% endblock %}
{% block author_og %}{{ page.author ?? null }}{% endblock %}

{% block content %}
    <div class="markdown-body shadow-lg rounded">
        {{ page.markdown|raw }}
    </div>
{% endblock %}