{% extends 'view/page.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}
{% block title_og %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block description_og %}{{ page.description }}{% endblock %}
{% block type_og %}article{% endblock %}
{% block author %}{{ page.author ?? 'Mediashare' }}{% endblock %}
{% block author_og %}{{ page.author ?? 'Mediashare' }}{% endblock %}

{% block content %}
    <div class="col-12 mt-3 mb-3">
        <div class="markdown-body shadow-lg rounded">
            {# {{ page.markdown|raw }} #}
            {{ render(controller('App\\Controller\\ApiController::markdownify', {
                'content': page.content
            })) }}
        </div>
    </div>
{% endblock %}