{% extends 'view/form.html.twig' %}

{% block title %}{{ post.title ?? 'Nouvelle article' }}{% endblock %}

{% block form_inputs %}
    <div class="col-lg-9 p-0">
        <input type="text" name="title" id="input_title" class="w-100 rounded form-control" placeholder="Title..." required="true" {% if post is defined %}value="{{ post.title }}"{% endif %} autofocus>
    </div>
    <div class="col-lg-3 p-0">
        <div class="float-left w-50 border-top">
            <a tabindex="-1" class="btn btn-cancel" title="Cancel"
                {% if post.slug %}href="{{ path('post', {'slug': post.slug}) }}"{% else %}href="{{ path('index') }}"{% endif %}
            >
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="float-right w-50 border-top">
            <button tabindex="-1" type="submit" class="btn btn-submit" title="Submit">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block signature %}
    {{ render(controller('App\\Controller\\PartialController::signature', {'username': post.author.username ?? null})) }}
{% endblock %}