{% extends 'view/page.html.twig' %}

{% block title %}{{ post.title ?? null }}{% endblock %}
{% block title_og %}{{ post.title ?? null }}{% endblock %}

{% if post.markdown %}
    {% set description = post.markdown|striptags|slice(0, 247) ~ '...' %}
{% endif %}

{% block description %}{{ description ?? '' }}{% endblock %}
{% block description_og %}{{ description ?? '' }}{% endblock %}

{% block type_og %}article{% endblock %}
{% block author %}{{ post.author ?? 'Anonyme' }}{% endblock %}
{% block author_og %}{{ post.author ?? 'Anonyme' }}{% endblock %}

{% block content %}
    <div class="col-12 mt-3">
        <div id="editor_preview" class="markdown-body shadow-lg rounded">
            {% if post.markdown is defined %}
                {# {{ post.markdown|raw }} #}
                {{ render(controller('App\\Controller\\ApiController::markdownify', {
                    'content': post.content
                })) }}
            {% endif %}
            {{ render(controller('App\\Controller\\PartialController::signature', {'username': post.author.username ?? null})) }}
        </div>
    </div>
{% endblock %}

{% block comments %}
    {% if post %}
        <div class="col-12 mt-3 mb-3">
            {% include 'partial/_comments.html.twig' %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        {# Comment Macro #}
        $(window).bind('keydown', function(event) {
            if ($('form#form_comment textarea#input_comment').val().length > 0 &&
                (event.ctrlKey || event.metaKey)) {
                if (event.which == "13") {
                    event.preventDefault();
                    $('form#form_comment').submit();
                }
            }
        });
        {% if post and post.slug %} scrollToAnchor('{{ post.slug }}'); {% endif %}
    </script>
{% endblock %}