{% extends 'view/page.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div id="profile" class="col-12 mt-3">
        {{ render(controller('App\\Controller\\PartialController::signature', {'username': user.username ?? null})) }}
        {% for post in user.posts|reverse %}
            {% if post.online or app.user and (app.user == user or app.user.isAdmin) %}
                <a href="{{ path('post', {'slug': post.slug}) }}" class="post_link">    
                    <div class="card shadow-lg mt-3"> 
                        <div class="card-body">
                            <strong>{{ post.title }}</strong> 
                            <br>
                            {% if post.author %}
                                <span class="username text-info">{{ post.author }}</span>
                            {% endif %}
                            <em class="text-white">- {{ post.createDate|date('d/m/Y') }}</em>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
        {% include 'partial/_templates.html.twig' %}
    </div>
{% endblock %}
