<div class="card bg-main shadow-lg rounded mt-3 mb-3">
    <div class="card-header">
        <h4 class="card-title">
            Accounts
        </h4>
    </div>
    <div class="card-content" style="max-height: 50vh;overflow: auto;">
        <ul class="list-group text-right bg-main">
            {% for user in users %}
                <li class="list-group-item bg-main post_link" > 
                    <span class="float-left">
                        <a href="{{ path('profile', {'username': user.slug,}) }}" class="btn btn-primary p-1">Voir</a>
                        <a href="{{ path('profile_edit', {'username': user.slug,}) }}" class="btn btn-warning p-1">Modifier</a>
                        <a onclick="modalDelete('modal-user-{{ user.id }}', '{{ path('user_delete', {'id': user.id}) }}');" class="btn btn-danger p-1">Supprimer</a>
                    </span>
                    <a href="{{ path('profile', {'username': user.slug,}) }}">
                        <strong class="username">{{ user.username }}</strong> 
                    </a>
                    <br>
                    <span class="float-right">
                        <em>{{ user.email }}</em>
                    </span>
                </li>
                <div id="modal-user-{{ user.id }}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content bg-main rounded shadow-lg">
                            <div class="modal-header">
                                <h5 class="modal-title">Suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer cet élément ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <a class="btn btn-danger delete">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>