<div class="card bg-main shadow-lg rounded mt-3">
    <div class="card-header">
        <h4 class="card-title">
            Comments
        </h4>
    </div>
    <div class="card-content" style="max-height: 50vh;overflow: auto;">
        <ul class="list-group text-right bg-main">
            {% for comment in comments %}
                <li class="list-group-item bg-main post_link" > 
                    <span class="float-left">
                        <a href="{{ path('post', {'slug': comment.post.slug, '_fragment': 'comment_' ~ comment.id}) }}" class="btn btn-primary p-1">Show</a>
                        <a href="{{ path('comment_delete', {'slug': comment.post.slug, 'id': comment.id}) }}" class="btn btn-danger p-1">Delete</a>
                    </span>
                    <a href="{{ path('post', {'slug': comment.post.slug, '_fragment': 'comment_' ~ comment.id}) }}"><strong>{{ comment.content }}</strong></a> 
                    <br>
                    <span class="float-right">
                        <em>{{ comment.createDate|date('d/m/Y H:i:s') }}</em> - <span class="username">{{ comment.author }}</span>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>