<div class="card bg-main shadow-lg rounded mt-3">
    <div class="card-header">
        <h4 class="card-title">
            Messages
        </h4>
    </div>
    <div class="card-content" style="max-height: 50vh;overflow: auto;">
        <ul class="list-group text-right bg-main">
            {% for message in messages %}
                <li class="list-group-item bg-main post_link" > 
                    <span class="float-left">
                        <a href="{{ path('post', {'slug': message.post.slug, '_fragment': 'message_' ~ message.id}) }}" class="btn btn-primary p-1 shadow-lg">Voir</a>
                        <a onclick="modalDelete('modal-message-{{ message.id }}', '{{ path('message_delete', {'slug': message.post.slug, 'id': message.id}) }}');" class="btn btn-danger p-1 shadow-lg">Supprimer</a>
                    </span>
                    <a href="{{ path('post', {'slug': message.post.slug, '_fragment': 'message_' ~ message.id}) }}"><strong>{{ message.content }}</strong></a> 
                    <br>
                    <span class="float-right">
                        <em>{{ message.createDate|date('d/m/Y H:i:s') }}</em> - <span class="username">{{ message.author }}</span>
                    </span>
                </li>
                <div id="modal-message-{{ message.id }}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content bg-main rounded shadow-lg">
                        <div class="modal-header">
                            <h5 class="modal-title">Suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer cet élément ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <a class="btn btn-danger delete">Supprimer</a>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>