{% for variable in module.variables %}
    <div class="col-3 p-0 shadow-lg">
        <input type="text" name="inputs[{{ variable.id }}][name]" class="rounded p-0 m-0 form-control" value="{{ variable.name }}" autofocus>
    </div>
    <div class="col-2 p-0 shadow-lg">
        <select name="inputs[{{ variable.id }}][type]" class="form-control">
            {% for input in inputs %}
                <option value="{{ input.id }}" {% if input.id == variable.input.id %} selected {% endif %}>{{ input.type }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-5 p-0 shadow-lg">
        <input type="text" name="inputs[{{ variable.id }}][value]" class="rounded p-0 m-0 form-control" value="{{ variable.value }}" autofocus>
    </div>
    <div class="col-2 p-0 shadow-lg">
        <a href="{{ path('variable_delete', {'id': variable.id}) }}" class="btn btn-cancel" title="Supprimer">
            <i class="fa fa-times"></i>
        </a>
    </div>
{% endfor %}

<div class="col-3 p-0 shadow-lg">
    <input type="text" name="input[new][name]" class="rounded p-0 m-0 form-control" placeholder="name" autofocus>
</div>
<div class="col-2 p-0 shadow-lg">
    <select name="input[new][type]" class="form-control">
       {% for input in inputs %}
            <option value="{{ input.id }}">{{ input.type }}</option>
       {% endfor %}
    </select>
</div>
<div class="col-5 p-0 shadow-lg">
    <input type="text" name="input[new][value]" class="rounded p-0 m-0 form-control" placeholder="value" autofocus>
</div>
<div class="col-2 p-0 shadow-lg">
    <button type="submit" class="btn btn-submit" title="Ajouter">
        <i class="fa fa-save"></i>
    </button>
</div>