{% if app.user and (app.user.isAdmin or app.user == user) %}
    <div class="card bg-main shadow-lg rounded mt-3">
        <div class="card-header">
            <h4 class="card-title">
                Templates
            </h4>
        </div>
        <div class="card-content" style="max-height: 50vh;overflow: auto;">
            <ul class="list-group text-right bg-main">
                {% for template in templates|reverse %}
                    <li class="list-group-item bg-main post_link"> 
                        <span class="float-left">
                            <a href="{{ path('template_form', {'id': template.id}) }}" class="btn btn-warning p-1 shadow-lg">Modifier</a>
                            <a onclick="modalDelete('modal-template-{{ template.id }}', '{{ path('template_delete', {'id': template.id}) }}');" class="btn btn-danger p-1 shadow-lg">Supprimer</a>
                        </span>
                        <strong>{{ template.name }}</strong> 
                        <br>
                        <span class="float-right">
                            <em>{{ template.createDate|date('d/m/Y') }}</em>
                        </span>
                    </li>

                    <div id="modal-template-{{ template.id }}" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content bg-main rounded shadow-lg">
                            <div class="modal-header">
                                <h5 class="modal-title">Suppression</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer cet élément ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <a class="btn btn-danger delete">Supprimer</a>
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer">
            <a href="{{ path('template_form') }}" class="btn btn-outline-success">
                Créer un nouveau template
            </a>
        </div>
    </div>
{% endif %}