{% extends 'view/form.html.twig' %}

{% block title %}{{ page.title ?? 'Nouvelle page' }}{% endblock %}

{% block stylesheets %}
    {# Dependencies #}
    <link rel="stylesheet" href="{{ preload(asset('codemirror/lib/codemirror.css'), { as: 'style' }) }}">
    {# AutoCompletion #}
    <link rel="stylesheet" href="{{ preload(asset('codemirror/addon/hint/show-hint.css'), { as: 'style' }) }}">
{% endblock %}

{% block form_header %}
    <div class="col-lg-9 p-0">
        <input type="text" name="url" id="input_url" class="w-100 rounded form-control" placeholder="Url..." required="true" {% if page is defined %}value="{{ page.url ?? '/' }}"{% endif %} autofocus>
    </div>
    <div class="col-lg-3 p-0">
        <div class="float-left w-50 border-top">
            <a tabindex="-1" class="btn btn-cancel" title="Cancel" href="{{ path('admin') }}"
            >
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="float-right w-50 border-top">
            <button tabindex="-1" type="submit" class="btn btn-submit" title="Submit">
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
    <div class="col-md-6 p-0 shadow-lg">
        <input type="text" name="title" id="input_title" class="w-100 rounded form-control" placeholder="Title..." required="true" {% if page is defined %}value="{{ page.title }}"{% endif %} autofocus>
    </div>
    <div class="col-md-6 p-0 shadow-lg">
        <input type="text" name="description" id="input_description" class="w-100 rounded form-control" placeholder="Description..." {% if page is defined %}value="{{ page.description }}"{% endif %} autofocus>
    </div>
{% endblock %}


{% block editor %}
    <div class="col-12 mt-3">
        <div class="card bg-main">
            <div class="card-header">
                <h2>Page content</h2>
            </div>
            <div id="page_content" class="card-content text-center">
                <div id="page_modules"></div>
                <div id="block_select_module" class="form-group m-3">
                    <select onchange="selectModule();" id="select_module">
                        <option>Modules</option>
                        {% for module in modules %}
                            <option value="{{ module.id }}">{{ module.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# CodeMirror #}
    <script src="{{ preload(asset('codemirror/lib/codemirror.js'), { as: 'script', importance: 'high' }) }}"></script>
    <script src="{{ preload(asset('js/codemirror.js'), { as: 'script', importance: 'high' }) }}"></script>
    {# Mode #}
    <script src="{{ preload(asset('codemirror/mode/twig/twig.js'), { as: 'script' }) }}"></script>
    {# AutoCompletion #}
    <script src="{{ preload(asset('codemirror/addon/hint/anyword-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/addon/hint/css-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/addon/hint/html-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/addon/hint/javascript-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/addon/hint/show-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/addon/hint/sql-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/addon/hint/xml-hint.js'), { as: 'script' }) }}"></script>
    <script src="{{ preload(asset('codemirror/keymap/sublime.js'), { as: 'script' }) }}"></script>
    <script>
        function selectModule() {
            if ($('#select_module').val()) {
                var id = $('#select_module').val();
                renderModuleInput(id);
            }
        }

        function renderModuleInput(id) {
            $.post('{{ path("module_show") }}', {id: id}, function (data) {
                $('#page_modules').html(data);
                document.querySelectorAll('.markdown-body pre code').forEach((block) => {
                    Prism.highlightElement(block);
                });
            });
        }
    </script>
{% endblock %}