<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ preload(asset('images/logo.png'), { as: 'image', importance: 'low' }) }}">
        {# SEO #}
        <title>{% block title %}Mediashare{% endblock %}</title>
        <meta name="robots" content="index, follow">
        <link rel="canonical" href="{{ app.request.uri|replace({'http://': 'https://'}) }}"/>
        <meta name="description" content="{% block description %}Mediashare est une entité promouvant le partage de ressource sur Internet.{% endblock %}">
        <meta name="author" content="{% block author %}Mediashare{% endblock %}">
        <meta name="keywords" content="Mediashare, mediashare.fr, partage, blog, automatisation, devops, documentations, hack, astuces, command line, open-sourcing, php, librairies, symfony, tools, outils numérique" lang="fr">
        {# SEO OG:* #}
        <meta property="og:title" content="{% block title_og %}Mediashare{% endblock %}">
        <meta property="og:description" content="{% block description_og %}Mediashare est une entité promouvant le partage de ressource sur Internet.{% endblock %}">
        <meta property="og:type" content="{% block type_og %}article{% endblock %}">
        <meta property="og:author" content="{% block author_og %}Mediashare{% endblock %}">
        <meta property="og:image" content="{% block image_og %}{{ asset('images/logo.png') }}{% endblock %}">
        
        {# Css #}
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        <link rel="stylesheet" href="{{ preload(path('assets_css'), { as: 'css', importance: 'high' }) }}">
        {% block stylesheets %}{% endblock %}
        
        {# Javascripts #}
        <script src="{{ preload(path('assets_js'), { as: 'script', importance: 'high' }) }}"></script>
        <script src="{{ preload(asset('js/prism.js'), { as: 'script' }) }}"></script>
        
        {# Google Analytics #}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101987237-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101987237-1');
        </script>

    </head>
    <body>
        <div class="container-fluid">
            {% include 'partial/_flash.html.twig' %}
            {% block container %}{% endblock %}
        </div>

        {# Google Adsense #}
        <script data-ad-client="ca-pub-5281743992366973" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {# Cookies #}
        {{ render(controller('App\\Controller\\AppController::cookies')) }}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
