{# Dependencies #}
<script src="{{ preload(asset('codemirror/lib/codemirror.js'), { as: 'script' }) }}"></script>
<link rel="stylesheet" href="{{ preload(asset('codemirror/lib/codemirror.css'), { as: 'style' }) }}">
<script src="{{ preload(asset('codemirror/mode/markdown/markdown.js'), { as: 'script' }) }}"></script>

{# AutoCompletion #}
<script src="{{ preload(asset('codemirror/addon/hint/anyword-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/addon/hint/css-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/addon/hint/html-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/addon/hint/javascript-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/addon/hint/show-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/addon/hint/sql-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/addon/hint/xml-hint.js'), { as: 'script' }) }}"></script>
<script src="{{ preload(asset('codemirror/keymap/sublime.js'), { as: 'script' }) }}"></script>
<link rel="stylesheet" href="{{ preload(asset('codemirror/addon/hint/show-hint.css'), { as: 'style' }) }}">

<div id="codemirror" class="shadow-lg rounded"></div>
<textarea name="content" id="content_mirror" class="d-none" required></textarea>

{% if post is defined %} {% set content = post.content %}
{% else %} {% set content = "# Hello world\n" %} {% endif %}
<script>
    var myCodeMirror = CodeMirror(document.getElementById('codemirror'), {
            value: "{{- content|escape("js") -}}",
            mode:  "markdown",
            lineNumbers: true,
            lineWrapping: true,
            extraKeys: {"Ctrl-Space": "autocomplete"},
            keyMap: "sublime"
    });
    myCodeMirror.setSize('100%', 'calc(100vh - 51px)');
    $('textarea#content_mirror').val(myCodeMirror.getValue());

    refreshPreview(myCodeMirror.getValue());
    myCodeMirror.on('change', function (CodeMirror) {
        refreshPreview(CodeMirror.getValue());
    });
    
    function refreshPreview(content) {
        $('textarea#content_mirror').val(content);
        $.post('{{ path("markdownify") }}', {content: content}, function (data) {
            $('.markdown-body').html(data);
            document.querySelectorAll('.markdown-body pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    }
</script>
