{% extends 'view/page.html.twig' %}

{% block title %}{{ post.title ?? null }}{% endblock %}
{% block title_og %}{{ post.title ?? null }}{% endblock %}
{% block description %}{{ post.content ?? null }}{% endblock %}
{% block description_og %}{{ post.content ?? null }}{% endblock %}

{% block type_og %}article{% endblock %}
{% block author %}{{ post.author ?? 'Anonyme' }}{% endblock %}
{% block author_og %}{{ post.author ?? 'Anonyme' }}{% endblock %}

{% block content %}
    <div class="col-12 mt-3">
        <div id="post_content" class="markdown-body shadow-lg rounded">
            <div class="markdown-preview">
                {% if post.markdown is defined %}
                    {{ post.markdown|raw }}
                {% endif %}
            </div>
            {{ render(controller('App\\Controller\\UserController::signature', {'username': post.author.username ?? null})) }}
        </div>
    </div>
{% endblock %}

{% block comments %}
    <div class="col-12 mt-3 mb-3">
        {% include 'post/_comments.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {# Comment Macro #}
        $(window).bind('keydown', function(event) {
            if ($('form#form_comment textarea#input_comment').val().length > 0 &&
                (event.ctrlKey || event.metaKey)) {
                if (event.which == "13") {
                    event.preventDefault();
                    $('form#form_comment').submit();
                }
            }
        });
    </script>
{% endblock %}