<div id="menu_header" class="d-lg-flex bg-main shadow-lg rounded">
    <a href="/" class="list-group-item bg-main post_link float-left text-center text-primary {% if request.get('_route') == 'index' %}active{% endif %}" title="Homepage">
        <i class="fa fa-home"></i>
    </a>
    <a onclick="searchDisplay();" class="list-group-item bg-main post_link float-left text-white text-center btn-search" title="Rechercher un post">
        <i class="fa fa-search"></i>
    </a>
    <a onclick="searchDisplay();" class="list-group-item bg-main post_link float-left text-danger text-center btn-search-close" title="Rechercher un post">
        <i class="fa fa-times"></i>
    </a>
    <a href="{{ path('post_new') }}" class="list-group-item bg-main post_link float-left text-center text-success {% if request.get('_route') == 'post_new' %}active{% endif %}" title="New Post">
        <i class="fa fa-plus"></i>
    </a>
    {% if app.user is defined and app.user %}
        <a href="{{ path('profile') }}" class="list-group-item bg-main post_link float-left text-center text-info {% if request.get('_route') == 'profile' %}active{% endif %}" title="{% if app.user is defined and app.user %}{{ app.user.username }}{% else %}Account{% endif %}">
            <i class="fa fa-user"></i>
        </a>
        <a href="{{ path('logout') }}" class="list-group-item bg-main post_link float-left text-center text-danger" title="Logout">
            <i class="fa fa-sign-out-alt"></i>
        </a>
    {% else %}
        <a href="{{ path('account') }}" class="list-group-item bg-main post_link float-left text-center text-info {% if request.get('_route') == 'account' %}active{% endif %}" title="{% if app.user is defined and app.user %}{{ app.user.username }}{% else %}Account{% endif %}">
            <i class="fa fa-user"></i>
        </a>
    {% endif %}
    <div id="menu_search" class="d-none" data-displayed="false">
        <input type="text" id="input_search" class="form-control bg-main pl-0" onkeyup="search()" placeholder="Search...">
    </div>
</div>
<ul id="menu_posts" class="list-group text-right bg-main">
    {% for post in posts %}
        {% if post.isOnline or (app.user and app.user == post.author) %}
            <a name="{{ post.slug }}" href="{{ path('post', {'slug': post.slug}) }}" class="list-group-item bg-main post_link {% if currentPost == post %}active{% endif %}" title="{{ post.title }}"> 
                <strong>{{ post.title }}</strong> 
                <br>
                <span class="float-right">
                    {% if not post.isOnline %}<em class="text-muted">(Draft)</em>{% endif %}
                    <em>{{ post.createDate|date('d/m/Y') }}</em>{% if post.author %} - <span class="text-info">{{ post.author ?? 'Anomyme' }}</span>{% endif %}
                </span>
            </a>
        {% endif %}
    {% endfor %}
</ul>
<div id="menu_footer" class="d-lg-flex bg-main shadow-lg rounded">
    <div id="menu_actions" class="">
        {% if app.user and app.user.isAdmin %}
            <a href="{{ path('admin') }}" class="list-group-item bg-main post_link float-left text-center bg-info text-white {% if request.get('_route') == 'admin' %}active{% endif %}" title="Administration">
                <i class="fa fa-cogs"></i>
            </a>
            {% if page and (request.get('_route') == 'page' or request.get('_route') == 'index') %}
                <a href="{{ path('page_form', {'id': page.id}) }}" class="list-group-item bg-main post_link float-left text-center text-warning" title="Edit Page">
                    <i class="fa fa-edit"></i>
                </a>
            {% endif %}
        {% endif %}

        {% if not currentPost is null and app.user is defined and app.user and (app.user == currentPost.author or app.user.isAdmin) %}
            <a href="{{ path('post_edit', {'slug': currentPost.slug}) }}" class="list-group-item bg-main post_link float-left text-center text-warning" title="Edit Post">
                <i class="fa fa-edit"></i>
            </a>
            <a href="{{ path('post_delete', {'slug': currentPost.slug}) }}" class="list-group-item bg-main post_link float-left text-center text-danger" title="Delete Post">
                <i class="fa fa-trash"></i>
            </a>
        {% endif %}
        {% if app.user and request.get('_route') starts with 'profile' %}
            <a href="{{ path('profile_edit', {'username': app.user.slug}) }}" class="list-group-item bg-main post_link float-left text-center text-info {% if request.get('_route') == 'profile_edit' %}active{% endif %}" title="{% if app.user is defined and app.user %}{{ app.user.username }}{% else %}Account{% endif %}">
                <i class="fa fa-user-cog"></i>
            </a>
        {% endif %}
    </div>
</div>
    
{# Responsive #}
<button class="btn btn-burger btn-burger-open btn-xl btn-circle bg-white" onclick="openMenuBurger();">
    <i class="fa fa-hamburger"></i>
</button>
<button class="btn btn-burger btn-burger-close btn-xl btn-circle bg-white d-none" onclick="closeMenuBurger();">
    <i class="fa fa-times"></i>
</button>