{% if post.online == true %}
    {% if app.user %}
        <form id="form_chat" action="{{ path('message', {'slug': post.slug}) }}" method="POST" class="d-flex w-100 shadow-lg">
            <button type="submit" class="btn-message list-group-item bg-main post_link d-flex float-left text-center text-white" title="Search">
                <i class="fa fa-comment"></i>
            </button>
            <textarea 
                id="message" 
                name="message" 
                onkeyup='this.style.height = "";this.style.height = this.scrollHeight + "px"' 
                placeholder="Message..." 
                row="1" 
                class="form-control col-9 m-0 p-0"
                autofocus
            ></textarea>
        </form>
    {% endif %}
{% endif %}

<div class="col-12 mt-3">
    {% for message in post.messages %}
        <div id="message_{{ message.id }}" class="card shadow-lg mb-3">
            <div class="card-content">
                <div class="message">
                    {{ render(controller('App\\Controller\\ApiController::markdownify', {'content': message.content}))}}
                </div> 
            </div>
            <div class="card-footer text-right">
                <a href="{{ path('profile', {'username': message.author.slug}) }}" title="Profile {{ message.author.username }}">
                    <img src="{{ preload(asset('images/avatars/' ~ message.author.avatar), { as: 'image' }) }}" class="img-fluid float-right ml-1 avatar_min" width="50px" height="50px">
                </a>
                <p class="message_info">
                    {% if app.user and (app.user == message.author or app.user.isAdmin) %}<a href="{{ path('message_delete', {'slug': message.post.slug, 'id': message.id}) }}" class="btn btn-danger p-1">Delete</a> {% endif %}
                    <em>{{ message.createDate|date('d/m/Y H:i:s') }}</em> - 
                    <a href="{{ path('profile', {'username': message.author.slug}) }}" title="Profile {{ message.author.username }}" class="username">
                        <span class="username">{{ message.author.username }}</span>
                    </a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>