{% extends 'base.html.twig' %}

{% block title %}{{ app.user.username }} - Edit{% endblock %}

{% block content %}
    <div class="row m-1">
        <div class="col-lg-12 mt-1">
            <div class="card bg-main shadow">
                <div class="card-header">
                    <h2 class="card-title">
                        Edit Profile
                    </h2>
                </div>
                <div class="card-body">
                    <form id="edit_profile" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text" value="{{ app.user.username }}" name="username" id="inputUsername" class="form-control border" required>    
                        </div>
                            <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ app.user.email }}" name="email" id="inputEmail" class="form-control border" required>    
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control border" minlength="6">    
                        </div>
                            <div class="form-group">
                            <label for="inputPasswordRepeat">Repeat Password</label>
                            <input type="password" name="passwordRepeat" id="inputPasswordRepeat" class="form-control border" minlength="6">    
                        </div>
                        <div class="form-group">
                            <label>Avatar</label> <br/>
                            <label for="file" class="btn btn-lg btn-outline-info">Select Image</label>
                            <input id="file" class="d-none" type="file" name="avatar" accept="image/*">
                            <p id="filename"><p>
                            <img src="{{ preload(asset('images/avatars/' ~ app.user.avatar), { as: 'image' }) }}" id="image_preview" class="img-fluid avatar">
                        </div>
                        <div class="form-group">
                            <label for="textSignature">Signature</label>
                            <textarea rows="auto" name="signature" id="textSignature" class="form-control border">{{ app.user.signature }}</textarea>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button form="edit_profile" class="btn btn-lg btn-primary" type="submit">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mt-1">
            <div class="card bg-main shadow">
                <div class="card-header">
                    <h2 class="card-title">
                        ApiKey
                    </h2>
                </div>
                <div class="card-body">
                    <p>
                        You can use Http API with your <code>ApiKey</code> to sign the publication.
                    </p>
                    <input type="text" value="{{ app.user.apikey }}" id="inputApikey" class="form-control border" readonly>
                </div>
                <div class="card-footer">
                    <a href="{{ path('profile_apikey_reset') }}" class="btn btn-lg btn-primary float-right">
                        Reset
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ preload(asset('js/user_edit.js'), { as: 'script', importance: 'low' }) }}"></script>
{% endblock %}