{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="col-12">
        {% include 'user/_signature.html.twig' %}
        <div class="card bg-main shadow-lg rounded mt-1">
            <div class="card-header">
                <h4 class="card-title">
                    Posts
                </h4>
            </div>
            <div class="card-content" style="max-height: 50vh;overflow: auto;">
                <ul class="list-group text-right bg-main">
                    {% for post in user.posts|reverse %}
                        <li class="list-group-item bg-main post_link"> 
                            <span class="float-left">
                                <a href="{{ path('post', {'slug': post.slug}) }}" class="text-primary">Show</a>
                                {% if app.user and (app.user == user or app.user.isAdmin) %} 
                                    - <a href="{{ path('post_edit', {'slug': post.slug}) }}" class="text-warning">Edit</a> -
                                    <a href="{{ path('post_delete', {'slug': post.slug}) }}" class="text-danger">Delete</a>
                                {% endif %}
                            </span>
                            <a href="{{ path('post', {'slug': post.slug}) }}" title="{{ post.title }}"><strong>{{ post.title }}</strong></a> 
                            <br>
                            <span class="float-right">
                                <em>{{ post.createDate|date('d/m/Y H:i:s') }}</em>
                                {% if post.author %}
                                 - <a href="{{ path('profile', {'username': post.author.slug}) }}" title="Profile {{ post.author }}" class="username text-info">{{ post.author }}</a>
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card bg-main shadow-lg rounded mt-1">
            <div class="card-header">
                <h4 class="card-title">
                    Comments
                </h4>
            </div>
            <div class="card-content" style="max-height: 50vh;overflow: auto;">
                <ul class="list-group text-right bg-main">
                    {% for comment in user.comments|reverse %}
                        <li class="list-group-item bg-main post_link" > 
                            <span class="float-left">
                                <a href="{{ path('post', {'slug': comment.post.slug, '_fragment': 'comment_' ~ comment.id}) }}" class="text-primary">Show</a>
                                {% if app.user and (app.user == user or app.user.isAdmin) %} 
                                    - <a href="{{ path('comment_delete', {'slug': comment.post.slug, 'id': comment.id}) }}" class="text-danger">Delete</a>
                                {% endif %}
                            </span>
                            <a href="{{ path('post', {'slug': comment.post.slug, '_fragment': 'comment_' ~ comment.id}) }}"><strong>{{ comment.content }}</strong></a> 
                            <br>
                            <span class="float-right">
                                <em>{{ comment.createDate|date('d/m/Y H:i:s') }}</em>
                                {% if comment.author %}
                                 - <a href="{{ path('profile', {'username': comment.author.slug}) }}" title="Profile {{ comment.author }}" class="username text-info">{{ comment.author }}</a>
                                {% endif %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
